* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85144b;
}

.container{
    background-color:whitesmoke;
    width: 650px;
    min-height: 750px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 0px 10px 20px;
    box-shadow: 5px 10px 10px black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Title{
    font-size: 35px;
}

button{
    background-color: #2191FB;
    color: white;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.grid{
    max-height: 700px;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.book-item{
    display: flex;
    margin-top: 20px;
}

.book-desc{
    margin-left: 10px;
}
.book-title{
    font-size: 21px;
    font-weight: bolder;
}
.book-author{
    font-weight: lighter;
    font-size: 19px;
}
.book-summary{
    font-size: 17px;
}
.book-buttons{
    display: flex;
    flex-direction: column;

}
img{
    border-radius: 10px;
    width: 100px;
    height: 150px;
}

.read{
    font-size: 15px;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}
.add{
    font-size: 15px;
    margin-top: 5px;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}
.delete{
    font-size: 15px;
    margin-top: 5px;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}

/* Modal */
.modal-container{
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color : rgba(0, 0, 0, 0.5);

}

.active{
    display: flex;
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;


}
form{
    padding: 10px;
}
label{
    font-size: 17px;
}
input{
    display: block;
    width: 100%;
    height: 27px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 10px;    
    border: 1px solid darkgray;
    border-radius: 4px;
    padding-left: 5px;
}
.modal-buttons{
    display: flex;
    justify-content: center;
}
#submit{
    background-color: #0095ff;
    border-color: #0095ff;
    color: white;
    
}
#cancel{
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}




