/* Background */
body {
    background-color:#AAAAAA;
    margin :0;
    padding: 0;
}
.material-icons { 
    font-size: 22px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    margin-top: 40px;
    margin-bottom: 30px;
}

.calculator-container {
    justify-content: center;
    width: 400px;
    margin: auto;
    border: 3px solid black;
    font-family: 'Niramit', sans-serif;
    
}

.display-container{
    display: grid;
    height: 170px;
    background-color:#111111;
    font-size: 25px;
    color: white;
    border: 1px solid black;
    text-align: right;
    padding-right: 5px;
}

.display{
    text-align: right;
    align-self: center;
    font-size: 45px;
    color: white;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}
.zero{
    grid-column: 1/span 2 ;
}

button {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    margin: 0;
}
.top {
    background-color: #c3c3c3;
}

.top:hover {
    background-color: #d4d2d2;
}

.top:active {
    background-color: #ffffff;
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: #f7c262;
}

.operator:active {
    background-color: #f5dfba;
}

.num {
    background-color: darkgray;
}

.num:hover {
    background-color: #bbbaba;
}

.num:active {
    background-color: #e0e0e0;
}


