body {
    font-family: 'Roboto Mono', monospace, arial, helvetica;
}    

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#main {
text-align: center;
}

#instructions {
    font-size: 11px;
}

#endresults {
    font-weight: bold;
}

#buttons {
    margin-top: 25px;
}

#buttons button {
    margin-left: 10px;
    margin-right: 10px; 
    padding: 0px;
    border-radius: 8px;
    
}

#buttons button:hover {
    position: relative;
    top: -2px;
    right: 2px;
    box-shadow: 4px 4px;
}

#scores {
    margin: auto;
    width: 500px;
    border-style: solid;
    border-radius: 8px;
}

#scores p {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.buttonicon {
    max-width: 90px;
    height: auto;
}

.newgamebutton {
    width: 150px;
    height: 50px;  
    font-size: 18px;
    font-weight: bold;
}