body{
    text-align: center;
}
.container-gameBoard{
    margin-top: 50px;
    display: inline-block;
}
.title{
    font-size: xx-large;
}
.text{
    font-size: larger;
    margin-top: 13px;
    margin-bottom: 20px;

}
.gameBoard-container{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 480px;
}
.grid-btn{
    height: 160px;
    border: 0;
 background: none;
 box-shadow: none;
 border-radius: 0px;
}

#btn00,#btn10,#btn20{
    border: black solid;
    border-left: none;
    border-top: none;
}
#btn20{
    border-bottom: none;
}
#btn02,#btn12,#btn22{
    border: black solid;
    border-right: none;
    border-top: none;
}
#btn22{
    border-bottom: none;
}
#btn01{
    border: black solid;
    border-left: none;
    border-right: none;
    border-top: none;
}
#btn11{
    border: black solid;
    border-right: none;
    border-left: none;
    border-top: none;
}

.input-name{
    margin-bottom: 10px;
}

.input-computer{
    margin-bottom: 10px;
}
.input-Buttons{
    text-align: center;
}

.btn-newGame{
    display: inline-block;
    background-color: #2191FB;
    color: white;
    width: 120px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 5px;
    
}

#playerOneName{
    margin-right: 5px;
}

.btn-endGame{
    display: inline-block;
    background-color : red;
    color: white;
    width: 120px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
    display : none;
};

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container-scoreBoard{
}





